.DS_Store
.vite-ssg-dist
.vite-ssg-temp
*.local
dist
dist-ssr
node_modules
# intellij stuff
.idea/
# logs
*.log
note.txt
components.d.ts
*.csv
venv
__pycache__
club_members.json
keys.txt
.env
club-mania2021-firebase-adminsdk-iwl8t-0c6a46efc9.json
