@import './markdown.css';
@font-face {
  font-family: "Retro Gaming";
  src: url('../assets/fonts/Retro Gaming.ttf');
  font-weight: normal;
  font-style: normal;
}

h1 {
  @apply text-[96px] leading-[112px] tracking-[2px];
  font-family: "Mitr";
}

h3 {
  @apply text-[72px] leading-[56px];
  font-family: "Mitr";
}

h5 {
  @apply text-[24px] leading-[24px] tracking-[0.18px];
  font-family: "Mitr";
}

button {
  @apply text-[24px] leading-[16px] tracking-[1.25px];
  font-family: "Roboto", sans-serif;
}

html, body, #app {
  height: 100%;
  margin: 0;
  padding: 0;
}

#nprogress {
  pointer-events: none;
}

#nprogress .bar {
  @apply bg-red opacity-75;
  position: fixed;
  z-index: 1031;
  top: 0;
  left: 0;
  width: 100%;
  height: 2px;
}